
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome To School of Programming!</h1>

<p>
    <div class="colorfulTexts">
        We supply colourful, fun and affordable Android Tablet PCs pre-loaded with educational software, games and story books.
        Because of our desire to educate our children responsibly in this digital era, we strive to be the largest supplier of educational tablets to schools in South Africa.
    </div>
    <div class="noncolorfulTexts">
        Bubblegum Tablets caters for a wide range in age, starting from as young as 3 years. We also provide MP4 players and a tablet aimed at Teens, which comes with a micro SD and bluetooth.

        Our company was established back in 2010 after realising how vitally important it is to have a product that can be serviced locally at a reasonable price, especially when your product is aimed at kids, because lets face it, when it comes to kids, accidents happen and nobody wants to have to buy a new tablet each time an accident happens.
        That’s why we have a number of service centres to make it easier for our customers to fix all those inevitable little accidents.
    </div>
</p>