@model IEnumerable<SchoolManagementSystem.Models.NewVM>
    <link rel="stylesheet" href="~/css/form.css" />
    @{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
    }
    <h1>Register a NEW Student here!</h1>
    <hr />
    <div class="container">
        <form method="post" action="/Student/Create">
            <div class="row">
                <div class="col-50">
                    <label for="firstname"><b>First Name</b></label>
                    <input type="text" name="firstname" id="firstname" required />
                </div>
                <div>
                    <label for="lastname"><b>Last Name</b></label>
                    <input type="text" name="lastname" id="lastname" required />
                </div>
                <div>
                    <label for="dob"><b>Date of Birth</b></label>
                    <input type="text" name="dob" id="dob" required />
                </div>
                <div>
                    <label for="email"><b>Email</b></label>
                    <input type="text" name="email" id="email" required />
                </div>

               
                <div>
                    <label for="courseanme"><b>Course Name</b></label>

                    <select id="coursenameid" name="coursenameid">
                        @foreach (var coursename in ViewBag.listofcoursename)
                        {

                            <option value="@coursename.coursenameid">
                                @coursename.coursename
                            </option>
                        }
                    </select>
                    <div>
                        <label for="grade"><b>Grade</b></label>
                        <input type="text" name="grade" id="grade" required />
                    </div>

                    <div>
                        <label for="username"><b>Username</b></label>
                        <input type="text" name="username" id="username" required />
                    </div>
                    <div>
                        <label for="password"><b>Password</b></label>
                        <input type="password" name="password" id="password" required />
                    </div>
                    <div>
                        <button type="submit" class="registerbtn">Register</button>
                    </div>

                </div>

        </form>
    </div>

