@model IEnumerable<SchoolManagementSystem.Models.Product>
    <link rel="stylesheet" href="~/css/products.css" />
    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_LayoutForShopping.cshtml";
    }

<section class="products">

    @foreach (var item in Model)
    {
        <div class="product-card">
            <div class="product-image">
                <img src="@("~/image/" + item.imagename)" runat="server" asp-append-version="true" style="width:200px; height:200px"/>
            </div>
            <div class="product-info">
                <h5>@Html.DisplayFor(modelItem => item.pname)</h5>
                <h6>$@Html.DisplayFor(modelItem => item.price)</h6>
                <h6> <a asp-action="Details" asp-route-id="@item.productid">Click Here for Details</a></h6>
            </div>
        </div>
    }
   
</section>

