@model SchoolManagementSystem.Models.Product
    <link rel="stylesheet" href="~/css/formtoaddproduct.css" />
    @{
        ViewData["Title"] = "Edit";
        Layout = "~/Views/Shared/_LayoutForShopping.cshtml";
    }

    <hr />
    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="container">
            <h1>Edit the Product</h1>
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="productid" />
            <div><label for="pname"><b>Product Name</b></label></div>
            <div><input asp-for="pname" class="form-control" /></div>

            <div><label for="description"><b>Description</b></label></div>
            <div><input asp-for="description" class="form-control" /></div>
            <div><label for="pcategoryid"><b>Category ID</b></label></div>
            <div><input asp-for="pcategoryid" class="form-control" /></div>
            <div><label for="price"><b>Price</b></label></div>
            <div><input asp-for="price" class="form-control" /></div>
            <div><label for="availableqty"><b>Available Quantity</b></label></div>
            <div><input asp-for="availableqty" class="form-control" /></div>
            <div><label for="imagefile"><b>Image</b></label></div>
            <div> <input asp-for="imagefile" /></div>
            <div><label for="isavailable"><b>Is Available</b></label></div>
            <div><input class="form-check-input" asp-for="isavailable" /> @Html.DisplayNameFor(model => model.isavailable)</div>
            
            <button type="submit" class="registerbtn">Save Changes</button>
        </div>
       
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

