@model IEnumerable<SchoolManagementSystem.Models.NewVM>
<link rel="stylesheet" href="~/css/form.css" />
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
}
<h4>Create Coursename</h4>
<hr />
<div class="container">
    <form method="post" action="Created">
        <div class="row">
            <div class="col-50">
                <label for="coursename">Course Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="coursename" name="coursename" placeholder="Name of Course..">
            </div>
        </div>
        <div class="row">
            <div class="col-50">
                <label for="teachername">Teacher Name</label>
            </div>
            <div class="col-75">
                <select id="teacherid" name="teacherid">
                    @foreach (Teacher teacher in ViewBag.Listofteacher)
                    {
                    <option value="@teacher.teacherid">
                        @teacher.firstname @teacher.lastname
                    </option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Add a Course" class="btn btn-primary" />
        </div>
    </form>
</div>
