@model SchoolManagementSystem.Models.Coursename
    <link rel="stylesheet" href="~/css/details.css" />
    @{
        ViewData["Title"] = "Delete";
        Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
    }

    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>

    <div>

        <table id="customer">

            <tr>
                <th>Course Name</th>
                <td>@Html.DisplayFor(model => model.coursename)</td>
            </tr>

            <tr>
                <th>Teacher ID</th>
                <td>@Html.DisplayFor(model => model.teacherid)</td>
            </tr>
        </table>

        <form asp-action="Delete">
            <input type="hidden" asp-for="coursenameid" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
