@model SchoolManagementSystem.Models.Coursename
    <link rel="stylesheet" href="~/css/formtoaddproduct.css" />
    @{
        ViewData["Title"] = "Edit";
        Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
    }

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="container">
        <h1>Edit Course Name</h1>

        <hr>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="coursenameid" />

        <div> <label for="coursename"><b>Course Name</b></label></div>
        <input asp-for="coursename" class="form-control" />
        <div><label for="teacherid"><b>Teacher ID</b></label></div>
        <input asp-for="teacherid" class="form-control" />

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
</form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

