@model SchoolManagementSystem.Models.Transcript

@{
    ViewData["Title"] = "ReqForTranscript";
    Layout = "~/Views/Shared/_LayoutNotHomePage.cshtml";
}

<h1>Your transcript request has been submitted. You will get email about this process.</h1>



