#customer {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 width:100%;
}

    #customer td {
        border: 1px solid #ddd;
        padding: 8px;
        width:70%
    }
    #customer th {
        border: 1px solid #ddd;
        padding: 8px;
        width: 20%;
    }
    #customer tr:nth-child(even) {
        background-color: lightblue;
    }

    #customer tr:hover {
        background-color: #ddd;
    }

    #customer th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: lightblue;
        color: black;
       
    }
